body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.container{
	width: 350px;
	height: 730px;
	border: 15px solid #465365;
	border-radius: 50px;
	position: relative;
	overflow: hidden;
}
div.slant-top img:first-child{
	position: absolute;
}
div.slant-top img:last-child{
	position: absolute;
	height: 250px;
	width: auto;
	margin: 250px 80px;
}